body {
	font-family: sans-serif;
	background-color: antiquewhite;
	margin: 50px;
}
h1,
h3 {
	color: darkblue;
	text-align: center;
}
img {
	height: 200px;
	width: auto;
}
li {
	margin-bottom: 10px;
}
.pizza-pic {
	border-radius: 50%;
	border: 5px solid red;
	padding: 20px;
	background-color: white;
	margin-left: 100px;
}
a {
	color: brown;
	text-decoration: none;
	font-weight: bold;
}
a:hover {
	color: darkred;
	text-decoration: underline;
}
.recipe-card {
	border: 1px solid #ddd;
	margin-bottom: 20px;
	padding: 10px;
	background-color: white;
	width: 300px;
}

.recipe-card img {
	height: 150px;
	display: block;
	margin-bottom: 10px;
}
